MQTT_HOST = "mqtt.server"
MQTT_PORT = 8883
MQTT_SECURE = true
MQTT_USERNAME = "backgate"
MQTT_PASSWORD = ""
NODE_NAME = "backgate"
HAS_CONTACT = true
HAS_LATCH = true
HAS_PUSH_TO_EXIT = true
HAS_COVER = false
HAS_DIMMER = false
HAS_LUXMETER = false